<template>
  <v-app light>
    <!-- Header -->
    <nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow">
      <div class="container d-flex justify-content-between align-items-center">
        <NuxtLink to='/' class="navbar-brand h1">
             <i class='bx bx-buildings bx-sm text-dark'></i>
          <span class="text-dark h4">Elegant</span> <span class="text-primary h4">Avize</span>
        </NuxtLink>
<!--        <a class="navbar-brand h1" href="/">
          <i class='bx bx-buildings bx-sm text-dark'></i>
          <span class="text-dark h4">Purple</span> <span class="text-primary h4">Buzz</span>
        </a>-->
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="navbar-toggler-success">
          <div class="flex-fill mx-xl-5 mb-2">
            <ul class="nav navbar-nav d-flex justify-content-between mx-xl-5 text-center text-dark">
              <li class="nav-item">
                <NuxtLink to='/' class="nav-link btn-outline-primary rounded-pill px-3">Ana Sayfa</NuxtLink>
              </li>
              <li class="nav-item">
                <NuxtLink to='/hakkimizda' class="nav-link btn-outline-primary rounded-pill px-3">Hakkımızda</NuxtLink>
              </li>
              <li class="nav-item">
                <NuxtLink to='/isimiz' class="nav-link btn-outline-primary rounded-pill px-3">İşimiz</NuxtLink>
              </li>
              <li class="nav-item">
                <a class="nav-link btn-outline-primary rounded-pill px-3" href="pricing.html">Pricing</a>
              </li>
              <li class="nav-item">
                <NuxtLink to='/iletisim' class="nav-link btn-outline-primary rounded-pill px-3">İletişim</NuxtLink>
              </li>
            </ul>
          </div>
          <div class="navbar align-self-center d-flex">
            <a class="nav-link" href="#"><i class='bx bx-bell bx-sm bx-tada-hover text-primary'></i></a>
            <a class="nav-link" href="#"><i class='bx bx-cog bx-sm text-primary'></i></a>
            <a class="nav-link" href="#"><i class='bx bx-user-circle bx-sm text-primary'></i></a>
          </div>
        </div>
      </div>
    </nav>
    <!-- Close Header -->
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>


    <!-- Start Footer -->
    <footer class="bg-secondary pt-4">
      <div class="container">
        <div class="row py-4">

          <div class="col-lg-3 col-12 align-left">
            <a class="navbar-brand" href="index.html">
              <i class='bx bx-buildings bx-sm text-light'></i>
              <span class="text-light h5">Purple</span> <span class="text-light h5 semi-bold-600">Buzz</span>
            </a>
            <p class="text-light my-lg-4 my-2">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut.
            </p>
            <ul class="list-inline footer-icons light-300">
              <li class="list-inline-item m-0">
                <a class="text-light" target="_blank" href="http://facebook.com/">
                  <i class='bx bxl-facebook-square bx-md'></i>
                </a>
              </li>
              <li class="list-inline-item m-0">
                <a class="text-light" target="_blank" href="https://www.linkedin.com/">
                  <i class='bx bxl-linkedin-square bx-md'></i>
                </a>
              </li>
              <li class="list-inline-item m-0">
                <a class="text-light" target="_blank" href="https://www.whatsapp.com/">
                  <i class='bx bxl-whatsapp-square bx-md'></i>
                </a>
              </li>
              <li class="list-inline-item m-0">
                <a class="text-light" target="_blank" href="https://www.flickr.com/">
                  <i class='bx bxl-flickr-square bx-md'></i>
                </a>
              </li>
              <li class="list-inline-item m-0">
                <a class="text-light" target="_blank" href="https://www.medium.com/">
                  <i class='bx bxl-medium-square bx-md' ></i>
                </a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
            <h3 class="h4 pb-lg-3 text-light light-300">Our Company</h3>
              <ul class="list-unstyled text-light light-300">
                <li class="pb-2">
                  <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light" href="index.html">Home</a>
                </li>
                <li class="pb-2">
                  <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" href="about.html">About Us</a>
                </li>
                <li class="pb-2">
                  <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" href="work.html">Work</a>
                </li>
                <li class="pb-2">
                  <i class='bx-fw bx bxs-chevron-right bx-xs'></i></i><a class="text-decoration-none text-light py-1" href="pricing.html">Price</a>
                </li>
                <li class="pb-2">
                  <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" href="contact.html">Contact</a>
                </li>
              </ul>
          </div>

          <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
            <h2 class="h4 pb-lg-3 text-light light-300">Our Works</h2>
            <ul class="list-unstyled text-light light-300">
              <li class="pb-2">
                <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" href="#">Branding</a>
              </li>
              <li class="pb-2">
                <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" href="#">Business</a>
              </li>
              <li class="pb-2">
                <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" href="#">Marketing</a>
              </li>
              <li class="pb-2">
                <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" href="#">Social Media</a>
              </li>
              <li class="pb-2">
                <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" href="#">Digital Solution</a>
              </li>
              <li class="pb-2">
                <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light py-1" href="#">Graphic</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
            <h2 class="h4 pb-lg-3 text-light light-300">For Client</h2>
            <ul class="list-unstyled text-light light-300">
              <li class="pb-2">
                <i class='bx-fw bx bx-phone bx-xs'></i><a class="text-decoration-none text-light py-1" href="tel:010-020-0340">010-020-0340</a>
              </li>
              <li class="pb-2">
                <i class='bx-fw bx bx-mail-send bx-xs'></i><a class="text-decoration-none text-light py-1" href="mailto:info@company.com">info@company.com</a>
              </li>
            </ul>
          </div>

        </div>
      </div>

      <div class="w-100 bg-primary py-3">
        <div class="container">
          <div class="row pt-2">
            <div class="col-lg-6 col-sm-12">
              <p class="text-lg-start text-center text-light light-300">
                © Copyright 2021 Purple Buzz Company. All Rights Reserved.
              </p>
            </div>
            <div class="col-lg-6 col-sm-12">
              <p class="text-lg-end text-center text-light light-300">
                Designed by <a rel="sponsored" class="text-decoration-none text-light" href="https://templatemo.com/" target="_blank"><strong>TemplateMo</strong></a>
              </p>
            </div>
          </div>
        </div>
      </div>

    </footer>
    <!-- End Footer -->
  </v-app>
</template>

<script>
export default {

}
</script>
