<template>
  <div class="flex flex-column align-start align-self-start justify-start">
    <!-- Start Banner Hero -->
    <div class="banner-wrapper bg-light">
      <div id="index_banner" class="banner-vertical-center-index container-fluid pt-5">

        <!-- Start slider -->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">

              <div class="py-5 row d-flex align-items-center">
                <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-left py-5 pb-5">
                  <h1 class="banner-heading h1 text-secondary display-3 mb-0 pb-5 mx-0 px-0 light-300 typo-space-line">
                    Develop <strong>Strategies</strong> for
                    <br>your business
                  </h1>
                  <p class="banner-body text-muted py-3 mx-0 px-0">
                    Purple Buzz is a corporate HTML template with Bootstrap 5 Beta 1. This CSS template is 100% free to download provided by <a rel="nofollow" href="https://templatemo.com/page/1" target="_parent">TemplateMo</a>. Total 6 HTML pages included in this template. Icon fonts by <a rel="nofollow" href="https://boxicons.com/" target="_blank">Boxicons</a>. Photos are from <a rel="nofollow" href="https://unsplash.com/" target="_blank">Unsplash</a> and <a rel="nofollow" href="https://icons8.com/" target="_blank">Icons 8</a>.
                  </p>
                  <a class="banner-button btn rounded-pill btn-outline-primary btn-lg px-4" href="#" role="button">Get Started</a>
                </div>
              </div>

            </div>
            <div class="carousel-item">

              <div class="py-5 row d-flex align-items-center">
                <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-left py-5 pb-5">
                  <h1 class="banner-heading h1 text-secondary display-3 mb-0 pb-3 mx-0 px-0 light-300">
                    HTML CSS Template with Bootstrap 5 Beta 1
                  </h1>
                  <p class="banner-body text-muted py-3">
                    You are not allowed to re-distribute this Purple Buzz HTML template as a downloadable ZIP file on any kind of Free CSS collection websites. This is strongly prohibited. Please contact TemplateMo for more information.
                  </p>
                  <a class="banner-button btn rounded-pill btn-outline-primary btn-lg px-4" href="#" role="button">Get Started</a>
                </div>
              </div>

            </div>
            <div class="carousel-item">

              <div class="py-5 row d-flex align-items-center">
                <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-left py-5 pb-5">
                  <h1 class="banner-heading h1 text-secondary display-3 mb-0 pb-3 mx-0 px-0 light-300">
                    Cupidatat non proident, sunt in culpa qui officia
                  </h1>
                  <p class="banner-body text-muted py-3">
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat.
                  </p>
                  <a class="banner-button btn rounded-pill btn-outline-primary btn-lg px-4" href="#" role="button">Get Started</a>
                </div>
              </div>

            </div>
          </div>
          <a class="carousel-control-prev text-decoration-none" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
            <i class='bx bx-chevron-left'></i>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next text-decoration-none" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
            <i class='bx bx-chevron-right'></i>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
        <!-- End slider -->

      </div>
    </div>
    <!-- End Banner Hero -->



    <!-- Start Service -->
    <section class="service-wrapper py-3">
      <div class="container-fluid pb-3">
        <div class="row">
          <h2 class="h2 text-center col-12 py-5 semi-bold-600">Services</h2>
          <div class="service-header col-2 col-lg-3 text-end light-300">
            <i class='bx bx-gift h3 mt-1'></i>
          </div>
          <div class="service-heading col-10 col-lg-9 text-start float-end light-300">
            <h2 class="h3 pb-4 typo-space-line">Make Success for future</h2>
          </div>
        </div>
        <p class="service-footer col-10 offset-2 col-lg-9 offset-lg-3 text-start pb-3 text-muted px-2">
          You are free to use this template for your commercial or business websites. You are not allowed to re-distribute this template ZIP file on any template collection websites. It is too easy to illegally copy and repost this template.
        </p>
      </div>

      <div class="service-tag py-5 bg-secondary">
        <div class="col-md-12">
          <ul class="nav d-flex justify-content-center">
            <li class="nav-item mx-lg-4">
              <a class="filter-btn nav-link btn-outline-primary active shadow rounded-pill text-light px-4 light-300" href="#" data-filter=".project">All</a>
            </li>
            <li class="nav-item mx-lg-4">
              <a class="filter-btn nav-link btn-outline-primary rounded-pill text-light px-4 light-300" href="#" data-filter=".graphic">Graphics</a>
            </li>
            <li class="filter-btn nav-item mx-lg-4">
              <a class="filter-btn nav-link btn-outline-primary rounded-pill text-light px-4 light-300" href="#" data-filter=".ui">UI/UX</a>
            </li>
            <li class="nav-item mx-lg-4">
              <a class="filter-btn nav-link btn-outline-primary rounded-pill text-light px-4 light-300" href="#" data-filter=".branding">Branding</a>
            </li>
          </ul>
        </div>
      </div>

    </section>

    <section class="container overflow-hidden py-5">
      <div class="row gx-5 gx-sm-3 gx-lg-5 gy-lg-5 gy-3 pb-3 projects">

        <!-- Start Recent Work -->
        <div class="col-xl-3 col-md-4 col-sm-6 project ui branding">
          <a href="#" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
            <img class="service card-img" src="/img/services-01.jpg" alt="Card image">
            <div class="service-work-vertical card-img-overlay d-flex align-items-end">
              <div class="service-work-content text-left text-light">
                <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">UI/UX design</span>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
              </div>
            </div>
          </a>
        </div><!-- End Recent Work -->

        <!-- Start Recent Work -->
        <div class="col-xl-3 col-md-4 col-sm-6 project ui graphic">
          <a href="#" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
            <img class="card-img" src="/img/services-02.jpg" alt="Card image">
            <div class="service-work-vertical card-img-overlay d-flex align-items-end">
              <div class="service-work-content text-left text-light">
                <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">Social Media</span>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
              </div>
            </div>
          </a>
        </div><!-- End Recent Work -->

        <!-- Start Recent Work -->
        <div class="col-xl-3 col-md-4 col-sm-6 project branding">
          <a href="#" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
            <img class="card-img" src="/img/services-03.jpg" alt="Card image">
            <div class="service-work-vertical card-img-overlay d-flex align-items-end">
              <div class="service-work-content text-left text-light">
                <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">Marketing</span>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
              </div>
            </div>
          </a>
        </div><!-- End Recent Work -->

        <!-- Start Recent Work -->
        <div class="col-xl-3 col-md-4 col-sm-6 project ui graphic">
          <a href="#" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
            <img class="card-img" src="/img/services-04.jpg" alt="Card image">
            <div class="service-work-vertical card-img-overlay d-flex align-items-end">
              <div class="service-work-content text-left text-light">
                <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">Graphic</span>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
              </div>
            </div>
          </a>
        </div><!-- End Recent Work -->

        <!-- Start Recent Work -->
        <div class="col-xl-3 col-md-4 col-sm-6 project ui graphic">
          <a href="#" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
            <img class="card-img" src="/img/services-05.jpg" alt="Card image">
            <div class="service-work-vertical card-img-overlay d-flex align-items-end">
              <div class="service-work-content text-left text-light">
                <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">Digtal Marketing</span>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
              </div>
            </div>
          </a>
        </div><!-- End Recent Work -->

        <!-- Start Recent Work -->
        <div class="col-xl-3 col-md-4 col-sm-6 project branding">
          <a href="#" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
            <img class="card-img" src="/img/services-06.jpg" alt="Card image">
            <div class="service-work-vertical card-img-overlay d-flex align-items-end">
              <div class="service-work-content text-left text-light">
                <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">Market Research</span>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
              </div>
            </div>
          </a>
        </div><!-- End Recent Work -->

        <!-- Start Recent Work -->
        <div class="col-xl-3 col-md-4 col-sm-6 project branding">
          <a href="#" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
            <img class="card-img" src="/img/services-07.jpg" alt="Card image">
            <div class="service-work-vertical card-img-overlay d-flex align-items-end">
              <div class="service-work-content text-left text-light">
                <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">Business</span>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
              </div>
            </div>
          </a>
        </div><!-- End Recent Work -->

        <!-- Start Recent Work -->
        <div class="col-xl-3 col-md-4 col-sm-6 project ui graphic branding">
          <a href="#" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
            <img class="card-img" src="/img/services-08.jpg" alt="Card image">
            <div class="service-work-vertical card-img-overlay d-flex align-items-end">
              <div class="service-work-content text-left text-light">
                <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">Branding</span>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
              </div>
            </div>
          </a>
        </div><!-- End Recent Work -->

      </div>
    </section>
    <!-- End Service -->

    <!-- Start View Work -->
    <section class="bg-secondary">
      <div class="container py-5">
        <div class="row d-flex justify-content-center text-center">
          <div class="col-lg-2 col-12 text-light align-items-center">
            <i class='display-1 bx bxs-box bx-lg'></i>
          </div>
          <div class="col-lg-7 col-12 text-light pt-2">
            <h3 class="h4 light-300">Great transformations successful</h3>
            <p class="light-300">Quis ipsum suspendisse ultrices gravida.</p>
          </div>
          <div class="col-lg-3 col-12 pt-4">
            <a href="#" class="btn btn-primary rounded-pill btn-block shadow px-4 py-2">View Our Work</a>
          </div>
        </div>
      </div>
    </section>
    <!-- End View Work -->

    <!-- Start Recent Work -->
    <section class="py-5 mb-5">
      <div class="container">
        <div class="recent-work-header row text-center pb-5">
          <h2 class="col-md-6 m-auto h2 semi-bold-600 py-5">Recent Works</h2>
        </div>
        <div class="row gy-5 g-lg-5 mb-4">

          <!-- Start Recent Work -->
          <div class="col-md-4 mb-3">
            <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden">
              <img class="recent-work-img card-img" src="/img/recent-work-01.jpg" alt="Card image">
              <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                  <h3 class="card-title light-300">Social Media</h3>
                  <p class="card-text">Ullamco laboris nisi ut aliquip ex</p>
                </div>
              </div>
            </a>
          </div><!-- End Recent Work -->

          <!-- Start Recent Work -->
          <div class="col-md-4 mb-3">
            <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden">
              <img class="recent-work-img card-img" src="/img/recent-work-02.jpg" alt="Card image">
              <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                  <h3 class="card-title light-300">Web Marketing</h3>
                  <p class="card-text">Psum officia anim id est laborum.</p>
                </div>
              </div>
            </a>
          </div><!-- End Recent Work -->

          <!-- Start Recent Work -->
          <div class="col-md-4 mb-3">
            <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden">
              <img class="recent-work-img card-img" src="/img/recent-work-03.jpg" alt="Card image">
              <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                  <h3 class="card-title light-300">R & D</h3>
                  <p class="card-text">Sum dolor sit consencutur</p>
                </div>
              </div>
            </a>
          </div><!-- End Recent Work -->

          <!-- Start Recent Work -->
          <div class="col-md-4 mb-3">
            <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden">
              <img class="recent-work-img card-img" src="/img/recent-work-04.jpg" alt="Card image">
              <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                  <h3 class="card-title light-300">Public Relation</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet</p>
                </div>
              </div>
            </a>
          </div><!-- End Recent Work -->

          <!-- Start Recent Work -->
          <div class="col-md-4 mb-3">
            <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden">
              <img class="recent-work-img card-img" src="/img/recent-work-05.jpg" alt="Card image">
              <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                  <h3 class="card-title light-300">Branding</h3>
                  <p class="card-text">Put enim ad minim veniam</p>
                </div>
              </div>
            </a>
          </div><!-- End Recent Work -->

          <!-- Start Recent Work -->
          <div class="col-md-4 mb-3">
            <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden">
              <img class="recent-work-img card-img" src="/img/recent-work-06.jpg" alt="Card image">
              <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                  <h3 class="card-title light-300">Creative Design</h3>
                  <p class="card-text">Mollit anim id est laborum.</p>
                </div>
              </div>
            </a>
          </div><!-- End Recent Work -->

        </div>
      </div>
    </section>
    <!-- End Recent Work -->

    <!--    <h1>Welcome to your dashboard</h1>
        <p>You are now logged in {{ $nuxt.$fire.auth.currentUser.email }}</p>
        <v-btn @click="$router.push('/auth/signout')">Logout</v-btn>-->
  </div>
</template>

<script>

export default {
  layout:'default',
  mounted() {
    $(window).load(function() {
      // init Isotope
      var $projects = $('.projects').isotope({
        itemSelector: '.project',
        layoutMode: 'fitRows'
      });
      $(".filter-btn").click(function() {
        var data_filter = $(this).attr("data-filter");
        $projects.isotope({
          filter: data_filter
        });
        $(".filter-btn").removeClass("active");
        $(".filter-btn").removeClass("shadow");
        $(this).addClass("active");
        $(this).addClass("shadow");
        return false;
      });
    });
  }
}
</script>
